@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "theme/palatte";
@import "theme/material_colors";
@import "theme/material_other";

@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC');

body {
  margin: 0;

  background-color: $background-color;

  // Fonts
  //font-family: 'Cinzel', serif;
  font-family: 'Alegreya SC', serif;
  color: #FF9800;
  font-size: 14px;

  // Font smoothing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Overflow
  overflow-x: hidden;
  overflow-y: hidden;

  background-color: #029DA1;
  background-image: -webkit-gradient(#029DA1, #002A3A);
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image: -webkit-linear-gradient(#029DA1, #002A3A);
  /* Firefox 3.6 - 15 */
  background-image: -moz-linear-gradient(#029DA1, #002A3A);
  /* Opera 11.1 - 12 */
  background-image: -o-linear-gradient(#029DA1, #002A3A);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: linear-gradient(#029DA1, #002A3A);
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
